@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    display:flex;
    padding: 5px;
    align-items: center;
    gap: 5px;
}
.logo h1::first-letter{
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    color: #ff006a;
}
.logo h1{
    color: #FFFFFF;
    font-weight: 100;
    font-family: 'Six Caps', sans-serif;
    font-size: 2rem;
}
body {
    background-color: #000000;
}

  
  .whatsapp-ico{
      fill: white;
      width: 50px;
      height: 50px;
      padding: 3px;
      background-color: #4dc247;
      border-radius: 50%;
      box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
      /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
      position: fixed;
      bottom: 20px;
      right : 20px;
      z-index: 10;
  }
  
  .whatsapp-ico:hover{
      box-shadow: 2px 2px 11px rgba(0,0,0,0.7);
  }

/* Estilos para o cabeçalho */
header {
  
    color: #fff;
    padding: 10px;
    
}
nav{
    font-family: 'Gruppo', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section, header, nav{
  margin-left: 5px;
  padding: 20px;
}
.container-side{
  display: flex;
    margin-left: 250px;
}

.sidebar{
  background: #000;
  margin: auto;
  display: flex;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.103) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  width: 50px;
 height: 100%;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
 
}
.sidebar li{
  text-align: center;
  margin: 10px 0;
}
.sidebar ul{
 padding: 0;
  list-style:none;
}
.sidebar a{
display: block;
  padding: 10px;
  text-decoration: none;
  color: #e8e8e8;
  
}
.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2ef;
    box-shadow: 0px 0px 15px #00000027;
    padding: 8px 5px;
    border-radius: 5em;
  }
  
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
  }
  
  .social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
  }
  
  .social-buttons svg {
    transition: 0.3s;
    height: 20px;
  }
  
  .github {
    background-color: #333;
  }
  
  .github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
  }
  
  .github:hover svg {
    fill: #333;
  }
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .linkedin svg {
    fill: #f2f2f2;
  }
  
  .linkedin:hover svg {
    fill: #0077b5;
  }
  
  
/* Estilos para as seções */
#sobre{
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
#sobre p{
    color: #e8e8e8;
    font-family: 'Kanit', sans-serif;
    font-size: 1.5rem;
    width: 70%;
}

#sobre h2{
    color: #e8e8e8;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}
#sobre h2::first-letter{
    color: #ff0f7b;
    font-weight: 100;
}

#lerMais{
    margin: 1.8rem auto;
 cursor: pointer;
 border: solid 1px #ff0f7b;
 background: transparent;
 padding: 10px;
 width: 30%;
 border-radius: 10px;
 color: #ff0f7b;
 font-size: 20px;
 font-family: 'Play', sans-serif;

}

#resto{
width: 100%;
}

.spinnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  @keyframes tri-spinner {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .loader {
    color: #4a4a4a;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
  }
  
  .word {
    font-size: 2.5rem;
    font-family: 'Orbitron', sans-serif;
  text-align:center;
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #e8e8e8;
    animation: cycle-words 5s infinite;
  }
  .word::first-letter{
    color: #ff0f7b;
  }
  
  @keyframes cycle-words {
    10% {
      -webkit-transform: translateY(-105%);
      transform: translateY(-105%);
    }
  
    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  
    35% {
      -webkit-transform: translateY(-205%);
      transform: translateY(-205%);
    }
  
    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }
  
    60% {
      -webkit-transform: translateY(-305%);
      transform: translateY(-305%);
    }
  
    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }
  
    85% {
      -webkit-transform: translateY(-405%);
      transform: translateY(-405%);
    }
  
    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }
  
.portfolio {
  padding: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgba(255, 255, 255, 0.103) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.box-port{
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}
.box-port h2::first-letter{
    color: #ff0f7b;
    font-weight: 100;
}
.box-port h2{
    color: #e8e8e8;
   padding: 6px;
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
    font-weight: 100;
}
.card {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }

  
  .content .titulo {
    font-family: 'Play', sans-serif;
    color: #e8e8e8;
    font-weight: 700;
    font-size: 32px;
  }
  
  .content .descricao {
    line-height: 1.5;
    font-family: 'Kanit', sans-serif;
  }
   
  .content .btn{
    font-family: 'Play', sans-serif;
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 100;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
 
  .content #btn{
    font-family: 'Play', sans-serif;
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 100;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover::before {
    height: 100%;
  }
  
  .card:hover {
    box-shadow: none;
  }
  
  .card:hover .btn {
    color: #212121;
    background: #e8e8e8;
  }
  
  .content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .content .btn:active {
    box-shadow: none;
  }

  .card:hover #btn {
    color: #212121;
    background: #e8e8e8;
  }
  
  .content #btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  
  .content #btn:active {
    box-shadow: none;
  }

  .button {
    text-decoration: none;
    display: flex;
    margin: 3rem auto;
    background-color: rgb(24, 23, 23);
    color: #ffffff;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: .6s ease;
  }
  
  .button svg {
    height: 30px;
  }
  
  .button:hover {
    box-shadow: none;
  }
  


  .buttons{
    display: flex;
    align-items: center;
    margin: 3rem auto;
  
  }
  .curriculo-down{
display:flex;
flex-direction: column;
align-items: center;
  }
  .button-down {
    color: #ff0f7b;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
     text-decoration:none;
     position: relative;
     width: 150px;
     height: 40px;
     cursor: pointer;
     display: flex;
     align-items: center;
     border: 2px solid  #ff0f7b;
     border-radius: 10px;
     overflow: hidden;
   }
   
   .button-down, .button__icon, .button__text {
     transition: all 0.3s;
   }
   
   .button-down .button__text {
     transform: translateX(22px);
   }
   
   .button-down .button__icon {
     position: absolute;
     transform: translateX(109px);
     height: 100%;
     width: 39px;
   
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   .button-down .svg {
     width: 20px;
     fill: #ff0f7b;
   }
   
   .button-down:hover {
     background: var(--bg-color);
   }
   
   .button-down:hover .button__text {
     color: transparent;
   }
   
   .button-down:hover .button__icon {
     width: 148px;
     transform: translateX(0);
   }
   
   .button-down:active {
     transform: translate(3px, 3px);
     box-shadow: 0px 0px var(--main-color);
   }


  .button-linkedin {
    text-decoration:none;
      display: flex;
      background-color: #0A66C2;
      color: #ffffff;
      padding: 0.5rem 1.4rem;
      font-size: 0.775rem;
      line-height: 1.25rem;
      font-weight: 100;
      text-align: center;
      text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
      align-items: center;
      border-radius: 0.5rem;
      gap: 0.75rem;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      transition: all .4s ease;
    }
    
    .button-linkedin svg {
      height: 30px;
    }
    
    .button-linkedin:hover {
      box-shadow: none;
      transform: scale(105%);
    }


.soft-hard{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.103) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.boxCards{
    padding: 4rem;
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.box-soft{
    margin: 2rem auto;
}
.box-soft h2::first-letter{
    color:#ff0f7b;
    font-weight: 100;
}
.box-soft h2{
    color: #e8e8e8;
   padding: 6px;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
    font-weight: 100;
}
.cards-soft{
    border: solid 1px #ff0f7b;
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;

    overflow: hidden;
  }
  
  .card-soft {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .card-soft .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card-soft .front-content p {
    font-family: 'Play', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: 100;
    opacity: 1;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card-soft .content {
    font-family: 'Play', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translatex(100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card-soft .content .heading {
    font-size: 32px;
    font-weight: 700;
  }
  
  .card-soft:hover .content {
    transform: translateY(0);
  }
  
  .card-soft:hover .front-content {
    transform: translateX(20%);
  }
  
  .card-soft:hover .front-content p {
    opacity: 0;
  }
  
  .box-hards{
    display: flex;
    align-items: center;
    justify-content: center;
  gap: 30px;
  margin-bottom:3rem ;
  }
  
  .card-hard{
    width:300px;
    height: 200px;
    border: 1px solid #ff0f7b;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px 40px;
   
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px;
    border-radius: 5px;
}

.header h2{
    color: #e8e8e8;
    font-weight:100;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Play', sans-serif;
}


.saibaMaisBtn {
    background-color: transparent;
    border: solid 1px #ff0f7b;
   color:#ff0f7b;
    padding: 10px 20px;
    font-family: 'Play', sans-serif;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all .4s ease;
}

.saibaMaisBtn:hover {
    border: none;
    transition: all .3s ease;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    color:#e8e8e8;
}

/* Estilos do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #e8e8e8;
    color: #000;
    font-family: 'Kanit', sans-serif;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 400px;
    text-align: center;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #333;
}


#contato {
    
    display: flex;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#contato h2::first-letter{
color: #ff0f7b;
}
#contato h2{
    color: #e8e8e8;
    text-transform: uppercase;
    font-family: 'Play', sans-serif;
    font-size: 3rem;
    font-weight: 100;
}
#contato p{
    font-family: 'Kanit', sans-serif;
    color: #e8e8e8;
    
}
.box-form-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.box-form-2{
    width: 40%;
    border: solid 1px #ff0f7b;
    padding: 4rem;
    border-radius: 15px 0 15px 0;
}


form {
    max-width: 400px;
    margin: 0 auto;
  
}

label h3 {
    font-family: 'Play', sans-serif;
    color: #e8e8e8;
    display: block;
    margin-bottom: 10px;
    font-weight: 100;
}
label h3::first-letter{
  color: #ff0f7b;
}


input[type="text"],
input[type="email"],
textarea {
  background: #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
   border: none;
    border-radius: 15px;
    font-size: 16px;
    transition: all .3s ease;
}
input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover{
border: solid 1px #ccc;
transition: all .3s ease;
}

input[type="submit"] {
  background:linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    font-family: 'Play', sans-serif;
    width: 100%;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all .4s ease;
}

input[type="submit"]:hover {
  
  transform: scale(105%);
  transition: all .3s ease;
  }
.loader-ctt {
    width: 6em;
    height: 6em;
    font-size: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader-ctt .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate023845 3s linear infinite;
  }
  
  .loader-ctt .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: #ff0f7b;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
  }
  
  .loader-ctt .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: #e8e8e8;
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
  }
  
  .loader-ctt .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
  }
  
  .loader-ctt .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
                  0 0 4em,
                  0 0 6em,
                  0 0 8em,
                  0 0 10em,
                  0 0 0 0.5em rgba(255, 255, 0, 0.1);
  }
  
  @keyframes animate023845 {
    to {
      transform: rotate(1turn);
    }
  }

/* Estilos para o rodapé */
.card-footer {
  
    display: flex;
    height: 70px;
    width: 350px;
  }
  
  .card-footer svg {
    position: absolute;
    display: flex;
    width: 50%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.25rem;
    cursor: pointer;
  }
  
  .card-footer .social-link2,.card-footer .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .card-footer svg {
    transform: scale(1);
  }
  
  
  
  .card-footer .social-link2:hover {
    background-color: #242c34;
    animation: bounce_613 0.4s linear;
  }
  
  
  .card-footer .social-link4:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
  }
  
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
footer {
  box-shadow: rgba(255, 255, 255, 0.103) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    background-color: #000;
    margin: auto;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display:flex;
}
footer p{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
}

/* Adapte a seção #sobre para dispositivos menores */
@media screen and (max-width: 768px) {
  .sidebar{
    display:none;
  }
.container  {
    margin: auto;
    display:flex;
    flex-direction: column;
   
  
  }
  .spinnerContainer{
   display:none;
  }

  #sobre h2 {
   margin: auto;

    font-size: 3rem;
  }
#intro, #resto{
text-align: center;
margin: auto;
}
  #sobre p {
  
    font-size: 1rem;
  }
  #lerMais{
    width: 50%;
  }

  #projetos{
    display: flex;
    align-items:center;
  }
  .box-port{
    margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .content{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.card .descricao{
  display:none;
}
.boxCards{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-soft{
  width: 340px;
  height: 200px;
  cursor:  pointer;
}
.heading{
  display: none;
 
}
.box-hards{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

  #contato {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .box-form-1 {
    width: 100%;
    padding: 1rem;
  }

  .box-form-2 {
    width: 100%;
    margin-top: 1rem;
  }
}
